{{extend 'layout.html'}}

        <!-- Styling and implementation to draw calender -->
 <style type="text/css" >
         html, body { margin: 0; padding: 0 }
         body { background-color: #fff; }
         #container { margin: 3em auto 0 3em; padding-bottom: 3em; background-color: #fff; }
         #month { border-collapse: collapse; margin-left: 2em; }
         #month th, #month td { border: 1px solid #000; }
         #month thead { background-color:#9c9; }
         #month td { width: 7em; height: 7em; padding: .2em; vertical-align: top; overflow: auto; }
         td .day { width: 7em; height: 6em; overflow:auto; margin-top: 0; }
         #month tbody .weekend { background-color:#ded; }
         #month tbody .next, #month tbody .previous { background-color:#ddd; }
         .rtop { display:block; background: #660006; }
         .rtop * { display: block; height: 1px; overflow: hidden; background:#fff; }
         .r1{margin: 0 0 0 5px}
         .r2{margin: 0 0 0 3px}
         .r3{margin: 0 0 0 2px}
         .r4{margin: 0 0 0 1px; height: 2px}
         #container h1 { margin: 0 0 .5em .5em; font: 2em Arial, Helvetica, sans-serif; color: #633166; }
         #month th { font: 1em bold Arial, Helvetica, sans-serif; }
         p {margin-top: 0; }
 </style >

<div id="container" >
    <b class="rtop" ><b class="r1" ></b > <b class="r2" ></b ><b class="r3" ></b > <b class="r4" ></b ></b >
</div>

{{=todayMonth}}
{{=todayYear}}
    <table id="month">
        <thead>
            <tr>
                <th class="weekend"> Sunday </th >
                <th > Monday </th >
                <th > Tuesday </th >
                <th > Wednesday </th >
                <th > Thursday </th >
                <th >Friday</th >
                <th class="weekend" > Saturday </th >
            </tr>
        </thead>
        <tbody>
            {{for w in range(0,nWeeks):}}
                    {{week=month[w]}}

                <tr>
                {{for x in xrange(0,7):}}
                        {{day=week[x]}}
                        {{if x==5 or x==6:}}
                            {{classtype = 'weekend'}}
                        {{else:}}
                            {{classtype = 'day'}}
                        {{pass}}

                        {{if day == 0:}}
                            {{classtype = 'previous'}}
                            <td class="classtype"></td>
                        {{elif day == todayDay:}}
                             <td class="classtype">
                                 <strong>{{=day}}</strong>
                                 {{for cont in dateContent:}}
                                    {{if cont.dateDay == day:}}
                                        {{=cont.dateEvent}}
                                    {{pass}}
                                 {{pass}}
                                 <a href="{{=URL("inCrowd/default', 'add', args=[day])}}">
                                    <i class="fa fa-pencil"></i> Add
                                 </a>
                                 <div class="classtype"></div>
                             </td>
                        {{else:}}
                            <td class="classtype">{{=day}}
                                 {{for cont in dateContent:}}
                                    {{if cont.dateDay == day:}}
                                        {{=cont.dateEvent}}
                                    {{pass}}
                                 {{pass}}
                                <div class="classtype"></div>
                                 <a href="{{=URL('default', 'add', args=[day])}}">
                                    <i class="fa fa-pencil"></i> Add
                                 </a>
                            </td>
                        {{pass}}

                {{pass}}
            {{pass}}
            </tr>
        </tbody>
 </table>
 <!-- End of Styling and implementation to draw calender -->
